<div class="space-y-4">
  <%= render 'devise/sessions/new/form_email', f: f %>
  <%= render 'devise/sessions/new/form_password', f: f %>
  <%= render 'devise/sessions/new/form_remember_me', f: f %>
</div>
