<% if devise_mapping.rememberable? %>
  <div class="flex items-center">
    <%= f.check_box :remember_me, class: "h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded cursor-pointer" %>
    <%= f.label :remember_me, class: "ml-2 block text-sm text-gray-700 cursor-pointer" %>
  </div>
<% end %>
