<div class="flex justify-between items-center mb-6">
  <h1 class="text-3xl font-bold"><%= t('.title') %></h1>
  <%= link_to t('.create_new'), new_me_poll_path, class: "px-4 py-2 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700" %>
</div>
