<div class="max-w-7xl mx-auto px-4 py-8">
  <%= render "me/polls/index/header" %>

  <% if @polls.any? %>
    <%= render "me/polls/index/polls_grid", polls: @polls %>
    
    <!-- Pagination -->
    <div class="mt-8">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  <% else %>
    <%= render "me/polls/index/empty_state" %>
  <% end %>
</div>
