<%
  is_expired = @poll.deadline <= Time.current
  user_answer = current_user.user_answers.find_by(poll_id: @poll.id)
  has_answered = user_answer.present?
  selected_answer_id = user_answer&.answer_id
%>

<div class="max-w-2xl mx-auto px-4 py-8">
  <div class="bg-white rounded-lg shadow-md p-6">
    <%= render 'polls/show/header', poll: @poll %>
    
    <%= render 'polls/show/status_messages', is_expired: is_expired, has_answered: has_answered %>

    <%= render 'polls/show/voting_form', 
               poll: @poll, 
               is_expired: is_expired, 
               has_answered: has_answered, 
               selected_answer_id: selected_answer_id %>
  </div>
</div>
