<% if user_signed_in? %>
  <header class="bg-white shadow-sm">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between items-center h-16">
        <%= render "layouts/header/logo" %>
        <%= render "layouts/header/user_menu" %>
      </div>
    </div>
  </header>
<% end %>
